<h2>Добавить доход</h2>

<script type="text/javascript">
$(function () {
  $('#datetimepicker').datetimepicker();
})
</script>

<form action="/earn" method="POST">

  <div class="form-group">
    <label>Статья</label>
    <input name="sourse" type="text" class="form-control" placeholder="Источник дохода">
  </div>


  <div class="form-group">
    <label>Кто</label>
  </br>
    <input name="username" type="text" class="form-control" placeholder="Имя Отчество">
  </div>


  <div class="form-group">
    <label>Сумма</label>
    <div class="input-group">
      <div class="input-group-addon">BYN</div>
      <input name="amount" type="text" class="form-control" placeholder="Сумма">
      <div class="input-group-addon">.00</div>
    </div>
  </div>


  <div class="form-group">
    <label>Дата</label>
  </br>
    <input id="datetimepicker" name="date" type="text" class="form-control" placeholder="Дата получения">
  </div>


<div class='form-group'>
  <label>Роль в семье</label>
</br>
  <select class="form-control" name="family_role">
    <option <%= @family_role == 'Отец' ? 'selected' : '' %>>Отец</option>
    <option <%= @family_role == 'Мать' ? 'selected' : '' %>>Мать</option>
    <option <%= @family_role == 'Дедушка' ? 'selected' : '' %>>Дедушка</option>
    <option <%= @family_role == 'Бабушка' ? 'selected' : '' %>>Бабушка</option>
    <option <%= @family_role == 'Сын' ? 'selected' : '' %>>Сын</option>
    <option <%= @family_role == 'Дочь' ? 'selected' : '' %>>Дочь</option>
   </select>
 </div>

  <button type="submit" class="btn btn-primary">Добавить доход</button>

</form>