<table class="table table-hover">
  <thead> 
    <tr>
      <th>Доход</th>
      <th>Дата</th>
      <th>Статья</th>
      <th>Имя</th>
      <th>Роль в семье</th>
      <th>Сумма</th>
    </tr>
  </thead>

    <tbody>
    <tr>
    <% i = 0 %>
      <% @earnfile.each_line do |line| %>
        <% if line.strip == "Z" %>
        <% i+= 1 %>
        </tr></tr><th scope="row"><%= i %></th>
        <% else %>
        <td><%= line %></td>
        <% end %>
    <% end %>
    </tr>
  </tbody>






  <thead> 
    <tr>
      <th>Расход</th>
      <th> </th>
      <th>Статья</th>
      <th> </th>
      <th> </th>
      <th>Сумма</th>
    </tr>
  </thead>

  <tbody>
    <tr>
    <% i = 0 %>
      <% @paymentfile.each_line do |line| %>
        <% if line.strip == "Z" %>
        <% i+= 1 %>
        </tr></tr><th scope="row"><%= i %></th>
        <% else %>
        <td><%= line %></td>
        <% end %>
    <% end %>
    </tr>
  </tbody>






  <thead> 
    <tr>
      <th>Итого</th>
      <th>Доход</th>
      <th> </th>
      <th>Расход</th>
      <th> </th>
      <th>Бюджет</th>
    </tr>
  </thead>

  <% allearnings = 0 %>
  <% @allearn.each_line do |line| %>
        <% allearnings += line.to_i %>
  <% end %>

  <% allpayments = 0 %>
  <% @allpay.each_line do |line| %>
        <% allpayments += line.to_i %>
  <% end %>

  <% finances = allearnings - allpayments %>


  <tbody>
    <tr>
      <td></td>
      <td><%=allearnings%></td>
      <td></td>
      <td><%=allpayments%></td>
      <td></td>
      <td><%=finances%></td>
    </tr>
  </tbody>


</table>
